*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
*.dump*
*.hi
*.jsexe
*.o
examples/Constructors/Constructors
examples/FFI/FFI
examples/HelloWorld/HelloWorld
examples/Prim/Prim
examples/SumInt64/SumInt64
examples/Fun/Fun

